.git
.env
.env.backup
.env.production
.env.local
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
agency-agents
_legacy
chhattishgarhABC
