*.log
.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.zed
/auth.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/.claude
/.playwright-mcp/
/.vscode
database/*.sqlite*
